body {
  background-color: #f3f3f3;
}

.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.top50 {
  margin-top: 50px;
}

.top70 {
  margin-top: 70px;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #00aeef;
}

.black {
  color: #000;
}

.green {
  color: #089e00;
}

.post {
  padding: 15px;
  margin: 10px;
  float: left;
  width: 250px;
  background-color: #fff;
}

.post.mashable {
  // border: 10px solid #00aeef;
}

.post.techcrunch {
  // border: 10px solid #089e00;
}

.post.medium {

}

.link {
  color: #000;
}

.italic {
  font-style: italic;
}
